@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Playfair+Display:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
}

body {
  background-color: #aec0cc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h3 {
  text-align: right;
}

p {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

li {
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}

.home {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  flex: 1;
  padding: 25px;
  min-width: 250px;
}

.flex:first-child {
  flex: 2;
  padding: 25px;
  background-color: #e8ecf1;
  margin: 20px;
  margin-bottom: 20px;
}

.flex div {
  padding: 18px;
  background-color: #e8ecf1;
  margin: 10px;
}

ol li {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .flex {
    padding: 10px;
  }

  .flex:first-child {
    padding: 15px;
    margin-bottom: 20px;
  }

  .flex div {
    padding: 16px;
  }

  div .image-p {
    text-align: center;
    margin: 5px;
    padding: 0px;
  }

  ol {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .flex {
    padding: 15px;
    margin: 10px;
  }

  .flex:first-child {
    padding: 15px;
    margin-bottom: 20px;
  }

  div .flex {
    padding: 15px;
    margin: 8px;
  }

  div .image-p {
    text-align: center;
    margin: 5px;
    padding: 0px;
  }
}
